/** 页面上部样式 */
.topbar {
  width: 100%;
  height: 600px;
  background-image: url(../img/bg_header.jpg);
  /** 页面上大标题样式 */
  /** 搜索框部分的样式 */
}
.topbar .navbar {
  color: #ffffff;
  font-size: 18px;
  padding: 15px;
  /** 登录模态框样式 */
}
.topbar .navbar .top-left {
  float: left;
  line-height: 109px;
}
.topbar .navbar .top-left span {
  color: #ffffff;
  font-size: 18px;
}
.topbar .navbar .top-right {
  float: right;
  padding: 30px;
  color: #ffffff;
}
.topbar .navbar .top-right li a {
  color: #ffffff;
}
.topbar .navbar .top-right li a:hover,
.topbar .navbar .top-right li a:active,
.topbar .navbar .top-right li a:focus {
  background-color: rgba(0, 0, 0, 0);
}
.topbar .navbar .modal .modal-content {
  width: 400px;
}
.topbar .navbar .modal .modal-content .login-close {
  margin: 15px;
  outline: none;
}
.topbar .navbar .modal .panel-tab {
  margin: 0 auto;
  text-align: left;
}
.topbar .navbar .modal .panel-tab .title {
  padding-left: 40px;
  margin: 20px auto;
}
.topbar .navbar .modal .panel-tab .title .f1 {
  font-size: 20px;
  color: #101d37;
  font-weight: 700;
}
.topbar .navbar .modal .panel-tab .title .title-text {
  color: #9399a5;
  padding: 10px 0 20px 0;
  line-height: 1;
  font-size: 14px;
}
.topbar .navbar .modal .panel-tab .login-content {
  padding-right: 35px;
}
.topbar .navbar .modal .panel-tab .login-content ul {
  list-style: none;
}
.topbar .navbar .modal .panel-tab .login-content li {
  color: #9399a5;
  clear: both;
  height: 50px;
  position: relative;
}
.topbar .navbar .modal .panel-tab .login-content li .the-input {
  border: none;
  line-height: 47px;
  color: #101d37;
  font-size: 14px;
  padding-left: 16px;
  outline: 0;
}
.topbar .navbar .modal .panel-tab .login-content li .send_verify_code {
  text-decoration: none;
  color: #101d37;
  float: right;
  font-size: 16px;
  padding: 0 16px;
  border-left: 1px solid #dbdbdb;
  line-height: 50px;
}
.topbar .navbar .modal .panel-tab .login-content .verify-code {
  width: 125px;
}
.topbar .navbar .modal .panel-tab .login-content .border-t {
  border: 1px solid #dbdbdb;
  border-radius: 2px 2px 0 0;
}
.topbar .navbar .modal .panel-tab .login-content .border-m {
  margin-top: -1px;
  padding: 0;
  border: 1px solid #dbdbdb;
}
.topbar .navbar .modal .panel-tab .login-content .border-c {
  border: 1px solid #dbdbdb;
  border-top: none;
  border-radius: 0 0 2px 2px;
}
.topbar .navbar .modal .panel-tab .login-content .border-c .btn:hover {
  color: #3072f6;
}
.topbar .navbar .modal .panel-tab .login-content .border-c .btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.topbar .navbar .modal .panel-tab .login-content .login-error {
  color: #db4c3f;
  padding: 24px 0 10px 40px;
  line-height: 14px;
}
.topbar .navbar .modal .panel-tab .login-content .input-error {
  border-color: #db4c3f !important;
  margin-bottom: 1px;
}
.topbar .navbar .modal .panel-tab .login-content .btn-login {
  background-color: #3072f6;
  width: 323px;
  margin: 30px 0px 10px 40px;
}
.topbar .navbar .modal .panel-tab .login-content .btn-login:hover {
  opacity: .9;
}
.topbar .navbar .modal .panel-tab .login-content .btn:hover {
  color: #ffffff;
}
.topbar .navbar .modal .panel-tab .login-content .etc p {
  font-size: 14px;
  color: #AAA;
  padding-left: 40px;
  margin: 20px 0;
}
.topbar .header-wrap {
  width: 1200px;
  margin: 0 auto;
}
.topbar .header-wrap .wrap-icon {
  margin-top: 30px;
  text-align: left;
  color: #ffffff;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -2.4px;
  line-height: 68px;
}
.topbar .header-wrap .wrap-icon .title-small {
  font-size: 28px;
  line-height: 28px;
  height: 28px;
  font-weight: 400;
  margin-bottom: 18px;
}
.topbar .header-wrap .wrap-icon .title-small .split-icon {
  display: inline-block;
  width: 42px;
  text-align: center;
  line-height: 28px;
  font-weight: lighter;
  font-size: 24px;
  color: rgba(235, 235, 235, 0.4);
}
.topbar .search-wrapper {
  float: left;
}
.topbar .search-wrapper .search-box ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 50px;
}
.topbar .search-wrapper .search-box ul li {
  list-style: none;
  display: inline;
}
.topbar .search-wrapper .search-box ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  padding: 0 20px 0 0;
  height: 32px;
  opacity: .5;
  line-height: 32px;
  display: inline-block;
  cursor: pointer;
}
.topbar .search-wrapper .search-box ul li a:hover {
  text-decoration: none;
  opacity: .7;
}
.topbar .search-wrapper .search-box ul li .style1 {
  text-decoration: none;
  opacity: 1;
}
.topbar .search-wrapper .search-box ul li .style2 {
  text-decoration: none;
  opacity: 1;
}
.topbar .search-wrapper .search-box ul li .style3 {
  text-decoration: none;
  opacity: 1;
}
.topbar .search-wrapper .search-box ul i {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 368px;
  left: 274px;
  border-bottom: 10px solid #fff;
  z-index: 9;
}
.topbar .search-wrapper .search-box .search-body .search-input {
  width: 494px;
  border: 0;
  height: 50px;
  padding-left: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  font-size: 18px;
}
.topbar .search-wrapper .search-box .search-body .search-btn {
  width: 76px;
  height: 51px;
  background: #3072f6;
  border-radius: 0 4px 4px 0;
  margin-left: -5px;
  margin-top: -3px;
  outline: none;
}
/** 展示房源信息处样式 */
.houseWrapper {
  width: 1180px;
  margin: 80px auto;
}
.houseWrapper .greenHouse .green-title {
  margin-bottom: 40px;
}
.houseWrapper .greenHouse .green-title .title-name {
  font-size: 36px;
  line-height: 50px;
  color: #101d37;
  font-weight: 600;
}
.houseWrapper .greenHouse .green-title .greenDesc {
  margin-top: 5px;
}
.houseWrapper .greenHouse .green-title .greenDesc .span-left {
  float: left;
  color: #9399a5;
  font-size: 16px;
  line-height: 22px;
}
.houseWrapper .greenHouse .green-title .greenDesc .span-right {
  float: right;
}
.houseWrapper .greenHouse .green-detil {
  width: 265px;
  display: inline-block;
  margin-right: 25px;
}
.houseWrapper .greenHouse .green-detil img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-broder-radius: 4px;
  border-radius: 4px;
}
.houseWrapper .greenHouse .green-detil .address {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #222;
}
.houseWrapper .greenHouse .green-detil .sapn-bottome {
  margin-top: 10px;
  font-size: 12px;
  color: #616669;
  line-height: 16px;
  overflow: hidden;
}
.houseWrapper .greenHouse .green-detil .sapn-bottome .area {
  float: left;
}
.houseWrapper .greenHouse .green-detil .sapn-bottome .price {
  font-weight: 700;
  float: right;
  font-size: 16px;
  color: #fa5741;
}
.houseWrapper .newHouse {
  margin-top: 40px;
}
.houseWrapper .newHouse .new-title {
  margin-bottom: 40px;
}
.houseWrapper .newHouse .new-title .title-name {
  font-size: 36px;
  line-height: 50px;
  color: #101d37;
  font-weight: 600;
}
.houseWrapper .newHouse .new-title .newDesc {
  margin-top: 5px;
}
.houseWrapper .newHouse .new-title .newDesc .span-left {
  float: left;
  color: #9399a5;
  font-size: 16px;
  line-height: 22px;
}
.houseWrapper .newHouse .new-title .newDesc .span-right {
  float: right;
}
.houseWrapper .newHouse .new-detil {
  width: 363px;
  height: 272px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  overflow: hidden;
}
.houseWrapper .newHouse .new-detil img {
  width: 363px;
  height: 272px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-broder-radius: 4px;
  border-radius: 4px;
  transition: all 2s;
}
.houseWrapper .newHouse .new-detil img:hover {
  transform: scale(1.1);
}
.houseWrapper .newHouse .new-detil .new-addName {
  position: absolute;
  top: 40%;
  left: 40%;
}
.houseWrapper .newHouse .new-detil .new-addPrice {
  font-size: 14px;
  position: absolute;
  top: 55%;
  left: 45%;
}
.houseWrapper .rootHouse {
  margin-top: 40px;
}
.houseWrapper .rootHouse .root-title {
  margin-bottom: 40px;
}
.houseWrapper .rootHouse .root-title .title-name {
  font-size: 36px;
  line-height: 50px;
  color: #101d37;
  font-weight: 600;
}
.houseWrapper .rootHouse .root-title .rootDesc {
  margin-top: 5px;
}
.houseWrapper .rootHouse .root-title .rootDesc .span-left {
  float: left;
  color: #9399a5;
  font-size: 16px;
  line-height: 22px;
}
.houseWrapper .rootHouse .root-title .rootDesc .span-right {
  float: right;
}
.houseWrapper .rootHouse .root-detil {
  width: 265px;
  display: inline-block;
  margin-right: 25px;
}
.houseWrapper .rootHouse .root-detil img {
  width: 265px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-broder-radius: 4px;
  border-radius: 4px;
}
.houseWrapper .rootHouse .root-detil .address {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #222;
  /*超出两行用省略号代替*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.houseWrapper .rootHouse .root-detil .span-bottom {
  margin-top: 10px;
  font-size: 12px;
  color: #616669;
  line-height: 16px;
  overflow: hidden;
}
.houseWrapper .rootHouse .root-detil .span-bottom .area {
  float: left;
}
.houseWrapper .rootHouse .root-detil .span-bottom .price {
  font-weight: 700;
  float: right;
  font-size: 16px;
  color: #fa5741;
}
/** 页脚 */
.footer .container p {
  text-align: center;
}
