/** 登录模态框样式 */
.modal-backdrop.fade.in {
  z-index: 0;
}
.modal .modal-content {
  width: 400px;
}
.modal .modal-content .login-close {
  margin: 15px;
  outline: none;
}
.modal .panel-tab {
  margin: 0 auto;
  text-align: left;
}
.modal .panel-tab .title {
  padding-left: 40px;
  margin: 20px auto;
}
.modal .panel-tab .title .f1 {
  font-size: 20px;
  color: #101d37;
  font-weight: 700;
}
.modal .panel-tab .title .title-text {
  color: #9399a5;
  padding: 10px 0 20px 0;
  line-height: 1;
  font-size: 14px;
}
.modal .panel-tab .login-content {
  padding-right: 35px;
}
.modal .panel-tab .login-content ul {
  list-style: none;
}
.modal .panel-tab .login-content li {
  color: #9399a5;
  clear: both;
  height: 50px;
  position: relative;
}
.modal .panel-tab .login-content li .the-input {
  border: none;
  line-height: 47px;
  color: #101d37;
  font-size: 14px;
  padding-left: 16px;
  outline: 0;
}
.modal .panel-tab .login-content li .send_verify_code {
  text-decoration: none;
  color: #101d37;
  float: right;
  font-size: 16px;
  padding: 0 16px;
  border-left: 1px solid #dbdbdb;
  line-height: 50px;
}
.modal .panel-tab .login-content .verify-code {
  width: 125px;
}
.modal .panel-tab .login-content .border-t {
  border: 1px solid #dbdbdb;
  border-radius: 2px 2px 0 0;
}
.modal .panel-tab .login-content .border-m {
  margin-top: -1px;
  padding: 0;
  border: 1px solid #dbdbdb;
}
.modal .panel-tab .login-content .border-c {
  border: 1px solid #dbdbdb;
  border-top: none;
  border-radius: 0 0 2px 2px;
}
.modal .panel-tab .login-content .border-c .btn:hover {
  color: #3072f6;
}
.modal .panel-tab .login-content .border-c .btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.modal .panel-tab .login-content .login-error {
  color: #db4c3f;
  padding: 24px 0 10px 40px;
  line-height: 14px;
}
.modal .panel-tab .login-content .input-error {
  border-color: #db4c3f !important;
  margin-bottom: 1px;
}
.modal .panel-tab .login-content .btn-login {
  background-color: #3072f6;
  width: 323px;
  margin: 30px 0px 10px 40px;
}
.modal .panel-tab .login-content .btn-login:hover {
  opacity: .9;
}
.modal .panel-tab .login-content .btn:hover {
  color: #ffffff;
}
.modal .panel-tab .login-content .etc p {
  font-size: 14px;
  color: #AAA;
  padding-left: 40px;
  margin: 20px 0;
}
/** 搜索框样式 */
.search-bg {
  width: 100%;
  height: 100px;
  padding: 25px 0;
  background: #f5f5f6;
  box-sizing: border-box;
  margin-top: 50px;
}
.search-bg .search-body {
  width: 1150px;
  margin: 0 auto;
}
.search-bg .search-body .search-left {
  float: left;
}
.search-bg .search-body .search-left img {
  width: 50px;
  height: 43px;
}
.search-bg .search-body .search-left .ti {
  font-size: 18px;
  font-weight: 500;
  color: #3072f6;
  line-height: 47px;
}
.search-bg .search-body .search-left .s-city {
  height: 26px;
  padding: 10px;
  line-height: 26px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  margin-left: 10px;
}
.search-bg .search-body .search-right {
  float: right;
  display: inline-block;
  line-height: 46px;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
}
.search-bg .search-body .search-right .search-input {
  width: 710px;
  border: none;
  padding-left: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-broder-radius: 4px;
  border-radius: 4px;
  outline: none;
}
.search-bg .search-body .search-right i {
  position: absolute;
  top: 77px;
  left: 1400px;
}
/** 条件查询样式 */
.select-wrap {
  margin-top: 40px;
  width: 100%;
}
.select-wrap .select-body {
  width: 1150px;
  height: 340px;
  margin: 0 auto;
  background-color: #fbfbfb;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
}
.select-wrap .select-body input[type='checkbox'] {
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-appearance: none;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  outline: none !important;
  margin-right: 5px;
}
.select-wrap .select-body input[type=checkbox]:checked {
  background: url("../img/checkbox.png") no-repeat center;
  border: #fff;
  outline: none !important;
}
.select-wrap .select-body .select-area p {
  padding: 15px 0 0 15px;
  font-size: 18px;
  color: #000;
  letter-spacing: 1;
}
.select-wrap .select-body .select-area p span {
  padding-right: 5px;
}
.select-wrap .select-body .select-area p span:hover,
.select-wrap .select-body .select-area p span:active,
.select-wrap .select-body .select-area p span:focus {
  color: #3072f6;
}
.select-wrap .select-body .select-area .drop-menu {
  list-style: none;
  margin-left: 15px;
}
.select-wrap .select-body .select-area .drop-menu .active a {
  background: #3072f6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-broder-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
}
.select-wrap .select-body .select-area .drop-menu .active a:hover,
.select-wrap .select-body .select-area .drop-menu .active a:active,
.select-wrap .select-body .select-area .drop-menu .active a:focus {
  text-decoration: none;
}
.select-wrap .select-body .select-area .drop-menu li {
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}
.select-wrap .select-body .select-area .drop-menu li a {
  font-size: 16px;
  padding: 5px;
  color: #666;
}
.select-wrap .select-body .select-area .drop-menu li a:hover,
.select-wrap .select-body .select-area .drop-menu li a:active,
.select-wrap .select-body .select-area .drop-menu li a:focus {
  text-decoration: none;
}
.select-wrap .select-body .select-area hr {
  clear: both;
}
.select-wrap .select-body .select-perPrice span {
  padding-left: 15px;
  font-size: 18px;
  float: left;
  line-height: 25px;
}
.select-wrap .select-body .select-perPrice .ul-item-perPrice {
  list-style: none;
  display: inline;
  line-height: 25px;
}
.select-wrap .select-body .select-perPrice .ul-item-perPrice .active-type {
  color: #3072f6;
  font-weight: 700;
}
.select-wrap .select-body .select-perPrice .ul-item-perPrice li {
  float: left;
  margin: 0 15px;
}
.select-wrap .select-body .select-perPrice .ul-item-perPrice li a {
  font-size: 16px;
  color: #666;
}
.select-wrap .select-body .select-perPrice .ul-item-perPrice li a:hover,
.select-wrap .select-body .select-perPrice .ul-item-perPrice li a:active,
.select-wrap .select-body .select-perPrice .ul-item-perPrice li a:focus {
  text-decoration: none;
  color: #3072f6;
}
.select-wrap .select-body .select-tolPrice,
.select-wrap .select-body .select-area,
.select-wrap .select-body .select-type,
.select-wrap .select-body .select-status {
  margin-top: 20px;
  clear: both;
}
.select-wrap .select-body .select-tolPrice span,
.select-wrap .select-body .select-area span,
.select-wrap .select-body .select-type span,
.select-wrap .select-body .select-status span {
  padding-left: 15px;
  font-size: 18px;
  float: left;
}
.select-wrap .select-body .select-tolPrice .ul-item-tolPrice,
.select-wrap .select-body .select-area .ul-item-tolPrice,
.select-wrap .select-body .select-type .ul-item-tolPrice,
.select-wrap .select-body .select-status .ul-item-tolPrice,
.select-wrap .select-body .select-tolPrice .ul-item-area,
.select-wrap .select-body .select-area .ul-item-area,
.select-wrap .select-body .select-type .ul-item-area,
.select-wrap .select-body .select-status .ul-item-area,
.select-wrap .select-body .select-tolPrice .ul-item-type,
.select-wrap .select-body .select-area .ul-item-type,
.select-wrap .select-body .select-type .ul-item-type,
.select-wrap .select-body .select-status .ul-item-type,
.select-wrap .select-body .select-tolPrice .ul-item-status,
.select-wrap .select-body .select-area .ul-item-status,
.select-wrap .select-body .select-type .ul-item-status,
.select-wrap .select-body .select-status .ul-item-status {
  list-style: none;
  display: inline;
}
.select-wrap .select-body .select-tolPrice .ul-item-tolPrice li,
.select-wrap .select-body .select-area .ul-item-tolPrice li,
.select-wrap .select-body .select-type .ul-item-tolPrice li,
.select-wrap .select-body .select-status .ul-item-tolPrice li,
.select-wrap .select-body .select-tolPrice .ul-item-area li,
.select-wrap .select-body .select-area .ul-item-area li,
.select-wrap .select-body .select-type .ul-item-area li,
.select-wrap .select-body .select-status .ul-item-area li,
.select-wrap .select-body .select-tolPrice .ul-item-type li,
.select-wrap .select-body .select-area .ul-item-type li,
.select-wrap .select-body .select-type .ul-item-type li,
.select-wrap .select-body .select-status .ul-item-type li,
.select-wrap .select-body .select-tolPrice .ul-item-status li,
.select-wrap .select-body .select-area .ul-item-status li,
.select-wrap .select-body .select-type .ul-item-status li,
.select-wrap .select-body .select-status .ul-item-status li {
  float: left;
  margin: 0 15px;
}
.select-wrap .select-body .select-tolPrice .ul-item-tolPrice li:hover,
.select-wrap .select-body .select-area .ul-item-tolPrice li:hover,
.select-wrap .select-body .select-type .ul-item-tolPrice li:hover,
.select-wrap .select-body .select-status .ul-item-tolPrice li:hover,
.select-wrap .select-body .select-tolPrice .ul-item-area li:hover,
.select-wrap .select-body .select-area .ul-item-area li:hover,
.select-wrap .select-body .select-type .ul-item-area li:hover,
.select-wrap .select-body .select-status .ul-item-area li:hover,
.select-wrap .select-body .select-tolPrice .ul-item-type li:hover,
.select-wrap .select-body .select-area .ul-item-type li:hover,
.select-wrap .select-body .select-type .ul-item-type li:hover,
.select-wrap .select-body .select-status .ul-item-type li:hover,
.select-wrap .select-body .select-tolPrice .ul-item-status li:hover,
.select-wrap .select-body .select-area .ul-item-status li:hover,
.select-wrap .select-body .select-type .ul-item-status li:hover,
.select-wrap .select-body .select-status .ul-item-status li:hover,
.select-wrap .select-body .select-tolPrice .ul-item-tolPrice li:active,
.select-wrap .select-body .select-area .ul-item-tolPrice li:active,
.select-wrap .select-body .select-type .ul-item-tolPrice li:active,
.select-wrap .select-body .select-status .ul-item-tolPrice li:active,
.select-wrap .select-body .select-tolPrice .ul-item-area li:active,
.select-wrap .select-body .select-area .ul-item-area li:active,
.select-wrap .select-body .select-type .ul-item-area li:active,
.select-wrap .select-body .select-status .ul-item-area li:active,
.select-wrap .select-body .select-tolPrice .ul-item-type li:active,
.select-wrap .select-body .select-area .ul-item-type li:active,
.select-wrap .select-body .select-type .ul-item-type li:active,
.select-wrap .select-body .select-status .ul-item-type li:active,
.select-wrap .select-body .select-tolPrice .ul-item-status li:active,
.select-wrap .select-body .select-area .ul-item-status li:active,
.select-wrap .select-body .select-type .ul-item-status li:active,
.select-wrap .select-body .select-status .ul-item-status li:active,
.select-wrap .select-body .select-tolPrice .ul-item-tolPrice li:focus,
.select-wrap .select-body .select-area .ul-item-tolPrice li:focus,
.select-wrap .select-body .select-type .ul-item-tolPrice li:focus,
.select-wrap .select-body .select-status .ul-item-tolPrice li:focus,
.select-wrap .select-body .select-tolPrice .ul-item-area li:focus,
.select-wrap .select-body .select-area .ul-item-area li:focus,
.select-wrap .select-body .select-type .ul-item-area li:focus,
.select-wrap .select-body .select-status .ul-item-area li:focus,
.select-wrap .select-body .select-tolPrice .ul-item-type li:focus,
.select-wrap .select-body .select-area .ul-item-type li:focus,
.select-wrap .select-body .select-type .ul-item-type li:focus,
.select-wrap .select-body .select-status .ul-item-type li:focus,
.select-wrap .select-body .select-tolPrice .ul-item-status li:focus,
.select-wrap .select-body .select-area .ul-item-status li:focus,
.select-wrap .select-body .select-type .ul-item-status li:focus,
.select-wrap .select-body .select-status .ul-item-status li:focus {
  cursor: pointer;
}
/* 查询结果样式*/
.select-result {
  width: 1050px;
  vertical-align: left;
  margin: 40px 0 40px 268px;
}
.select-result .result-title {
  font-size: 16px;
  color: #101d37;
  margin-top: 30px;
  margin-bottom: 24px;
  font-weight: 700;
}
.select-result .nav-tabs {
  border-radius: 0;
  border-bottom: 2px solid #3072f6;
}
.select-result .nav-tabs .active a {
  background-color: #3072f6;
  color: #fff;
}
.select-result .nav-tabs .active a:hover,
.select-result .nav-tabs .active a:active,
.select-result .nav-tabs .active a:focus {
  color: #fff;
  background-color: #3072f6;
}
.select-result .nav-tabs li a {
  color: #666;
  font-weight: 700;
}
.select-result .nav-tabs li a:hover,
.select-result .nav-tabs li a:active,
.select-result .nav-tabs li a:focus {
  background-color: #3072f6;
  color: #fff;
}
.select-result .result-item {
  padding-bottom: 20px;
  margin-top: 20px;
}
.select-result .result-item .result-img {
  float: left;
  margin-right: 40px;
}
.select-result .result-item .result-img img {
  width: 250px;
  height: 180px;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-broder-radius: 4px;
  border-radius: 4px;
}
.select-result .result-item .result-detil .detil-title {
  padding-top: 10px;
}
.select-result .result-item .result-detil .detil-title .name {
  display: inline-block;
  margin-right: 7px;
  max-width: 75%;
  font-size: 22px;
  color: #101d37;
  line-height: 22px;
  vertical-align: middle;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-result .result-item .result-detil .detil-title .block-type {
  display: inline-block;
  padding: 7px;
  margin-right: 7px;
  line-height: 14px;
  font-size: 14px;
  vertical-align: middle;
  border-radius: 2px;
  letter-spacing: -0.27px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.select-result .result-item .result-detil .detil-content {
  margin: 15px;
}
.select-result .result-item .result-detil .detil-content a {
  color: #9399a5;
  display: block;
  padding-bottom: 5px;
}
.select-result .result-item .result-detil .detil-content a i {
  margin-right: 7px;
}
.select-result .result-item .result-detil .detil-surround {
  padding-top: 28px;
}
.select-result .result-item .result-detil .detil-surround .surround-type {
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  padding: 0 14px;
  line-height: 30px;
  font-size: 14px;
  color: #849aae;
  background: rgba(132, 154, 174, 0.1);
}
.select-result .result-item .detil-price {
  float: right;
  margin-top: -95px;
}
.select-result .result-item .detil-price p {
  font-size: 30px;
  line-height: 28px;
  color: #fe615a;
}
.select-result .result-item .detil-price p span {
  font-size: 16px;
}
.select-result .result-item hr {
  margin-top: 30px;
  margin-bottom: 0px;
}
