/** 登录模态框样式 */
.modal-backdrop.fade.in {
  z-index: 0;
}
.modal .modal-content {
  width: 400px;
}
.modal .modal-content .login-close {
  margin: 15px;
  outline: none;
}
.modal .panel-tab {
  margin: 0 auto;
  text-align: left;
}
.modal .panel-tab .title {
  padding-left: 40px;
  margin: 20px auto;
}
.modal .panel-tab .title .f1 {
  font-size: 20px;
  color: #101d37;
  font-weight: 700;
}
.modal .panel-tab .title .title-text {
  color: #9399a5;
  padding: 10px 0 20px 0;
  line-height: 1;
  font-size: 14px;
}
.modal .panel-tab .login-content {
  padding-right: 35px;
}
.modal .panel-tab .login-content ul {
  list-style: none;
}
.modal .panel-tab .login-content li {
  color: #9399a5;
  clear: both;
  height: 50px;
  position: relative;
}
.modal .panel-tab .login-content li .the-input {
  border: none;
  line-height: 47px;
  color: #101d37;
  font-size: 14px;
  padding-left: 16px;
  outline: 0;
}
.modal .panel-tab .login-content li .send_verify_code {
  text-decoration: none;
  color: #101d37;
  float: right;
  font-size: 16px;
  padding: 0 16px;
  border-left: 1px solid #dbdbdb;
  line-height: 50px;
}
.modal .panel-tab .login-content .verify-code {
  width: 125px;
}
.modal .panel-tab .login-content .border-t {
  border: 1px solid #dbdbdb;
  border-radius: 2px 2px 0 0;
}
.modal .panel-tab .login-content .border-m {
  margin-top: -1px;
  padding: 0;
  border: 1px solid #dbdbdb;
}
.modal .panel-tab .login-content .border-c {
  border: 1px solid #dbdbdb;
  border-top: none;
  border-radius: 0 0 2px 2px;
}
.modal .panel-tab .login-content .border-c .btn:hover {
  color: #3072f6;
}
.modal .panel-tab .login-content .border-c .btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.modal .panel-tab .login-content .login-error {
  color: #db4c3f;
  padding: 24px 0 10px 40px;
  line-height: 14px;
}
.modal .panel-tab .login-content .input-error {
  border-color: #db4c3f !important;
  margin-bottom: 1px;
}
.modal .panel-tab .login-content .btn-login {
  background-color: #3072f6;
  width: 323px;
  margin: 30px 0px 10px 40px;
}
.modal .panel-tab .login-content .btn-login:hover {
  opacity: .9;
}
.modal .panel-tab .login-content .btn:hover {
  color: #ffffff;
}
.modal .panel-tab .login-content .etc p {
  font-size: 14px;
  color: #AAA;
  padding-left: 40px;
  margin: 20px 0;
}
._citys {
  width: 450px;
  display: inline-block;
  border: 2px solid #eee;
  padding: 5px;
  position: relative;
}
._citys span {
  color: #56b4f8;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #56b4f8;
  cursor: pointer;
}
._citys0 {
  width: 100%;
  height: 34px;
  display: inline-block;
  border-bottom: 2px solid #56b4f8;
  padding: 0;
  margin: 0;
}
._citys0 li {
  display: inline-block;
  line-height: 34px;
  font-size: 15px;
  color: #888;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.citySel {
  background-color: #56b4f8;
  color: #fff !important;
}
._citys1 {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}
._citys1 a {
  width: 83px;
  height: 35px;
  display: inline-block;
  background-color: #f5f5f5;
  color: #666;
  margin-left: 6px;
  margin-top: 3px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
}
._citys1 a:hover {
  color: #fff;
  background-color: #56b4f8;
}
.AreaS {
  background-color: #56b4f8 !important;
  color: #fff !important;
}
/* 页面大标题样式 */
.sub-headerWrap {
  width: 100%;
  height: 100px;
  padding: 25px 0;
  background: #f5f5f6;
  box-sizing: border-box;
  margin-top: 30px;
}
.sub-headerWrap .sub-header {
  width: 1150px;
  margin: 0 auto;
}
.sub-headerWrap .sub-header .navbar-header img {
  display: inline;
}
.sub-headerWrap .sub-header .navbar-header .ti {
  font-size: 18px;
  font-weight: 500;
  color: #3072f6;
}
.sub-headerWrap .sub-header .sub-nav ul {
  list-style: none;
}
.sub-headerWrap .sub-header .sub-nav ul .current a {
  color: #3072f6;
}
.sub-headerWrap .sub-header .sub-nav ul li {
  float: left;
  height: 40px;
  line-height: 70px;
  vertical-align: bottom;
}
.sub-headerWrap .sub-header .sub-nav ul li a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #101d37;
  font-size: 16px;
  padding-left: 30px;
}
.release-main,
.release-main-two {
  margin: 0px;
  width: 100%;
  background: #f5f5f6;
  padding-top: 30px;
}
.release-main .title-wrap,
.release-main-two .title-wrap {
  text-align: center;
  padding-bottom: 30px;
}
.release-main .title-wrap .tit span,
.release-main-two .title-wrap .tit span {
  font-weight: 700;
  color: #101d37;
  font-size: 33px;
}
.release-main .title-wrap .sub-tit,
.release-main-two .title-wrap .sub-tit {
  padding-top: 10px;
}
.release-main .title-wrap .sub-tit span,
.release-main-two .title-wrap .sub-tit span {
  margin-top: 15px;
  color: #878787;
  font-size: 16px;
}
.release-main .form-wrap,
.release-main-two .form-wrap {
  background: #ffffff;
}
.release-main .form-wrap form,
.release-main-two .form-wrap form {
  width: 1150px;
  margin: 0 auto;
}
.release-main .form-wrap form label,
.release-main-two .form-wrap form label {
  margin-top: 40px;
}
.release-main .form-wrap form input,
.release-main-two .form-wrap form input {
  width: 420px;
  margin-top: 40px;
  margin-bottom: -15px;
}
.release-main .form-wrap form .add-detil input,
.release-main-two .form-wrap form .add-detil input {
  width: 135px;
  display: inline-block;
  margin-right: 5px;
}
.release-main .form-wrap form #input_error,
.release-main-two .form-wrap form #input_error {
  margin: -10px 0px 15px 300px;
}
.release-main .form-wrap form #input_error label,
.release-main-two .form-wrap form #input_error label {
  color: #db4c3f;
}
.release-main .form-wrap form .input-error,
.release-main-two .form-wrap form .input-error {
  border: 1px solid #db4c3f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
}
.release-main .form-wrap .btn-submit,
.release-main-two .form-wrap .btn-submit {
  width: 120px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background-color: #3072f6;
  cursor: pointer;
  margin: 20px 0px 15px 570px;
  outline: none;
}
