/** 登录模态框样式 */
.modal-backdrop.fade.in {
  z-index: 0;
}
.modal .modal-content {
  width: 400px;
}
.modal .modal-content .login-close {
  margin: 15px;
  outline: none;
}
.modal .panel-tab {
  margin: 0 auto;
  text-align: left;
}
.modal .panel-tab .title {
  padding-left: 40px;
  margin: 20px auto;
}
.modal .panel-tab .title .f1 {
  font-size: 20px;
  color: #101d37;
  font-weight: 700;
}
.modal .panel-tab .title .title-text {
  color: #9399a5;
  padding: 10px 0 20px 0;
  line-height: 1;
  font-size: 14px;
}
.modal .panel-tab .login-content {
  padding-right: 35px;
}
.modal .panel-tab .login-content ul {
  list-style: none;
}
.modal .panel-tab .login-content li {
  color: #9399a5;
  clear: both;
  height: 50px;
  position: relative;
}
.modal .panel-tab .login-content li .the-input {
  border: none;
  line-height: 47px;
  color: #101d37;
  font-size: 14px;
  padding-left: 16px;
  outline: 0;
}
.modal .panel-tab .login-content li .send_verify_code {
  text-decoration: none;
  color: #101d37;
  float: right;
  font-size: 16px;
  padding: 0 16px;
  border-left: 1px solid #dbdbdb;
  line-height: 50px;
}
.modal .panel-tab .login-content .verify-code {
  width: 125px;
}
.modal .panel-tab .login-content .border-t {
  border: 1px solid #dbdbdb;
  border-radius: 2px 2px 0 0;
}
.modal .panel-tab .login-content .border-m {
  margin-top: -1px;
  padding: 0;
  border: 1px solid #dbdbdb;
}
.modal .panel-tab .login-content .border-c {
  border: 1px solid #dbdbdb;
  border-top: none;
  border-radius: 0 0 2px 2px;
}
.modal .panel-tab .login-content .border-c .btn:hover {
  color: #3072f6;
}
.modal .panel-tab .login-content .border-c .btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.modal .panel-tab .login-content .login-error {
  color: #db4c3f;
  padding: 24px 0 10px 40px;
  line-height: 14px;
}
.modal .panel-tab .login-content .input-error {
  border-color: #db4c3f !important;
  margin-bottom: 1px;
}
.modal .panel-tab .login-content .btn-login {
  background-color: #3072f6;
  width: 323px;
  margin: 30px 0px 10px 40px;
}
.modal .panel-tab .login-content .btn-login:hover {
  opacity: .9;
}
.modal .panel-tab .login-content .btn:hover {
  color: #ffffff;
}
.modal .panel-tab .login-content .etc p {
  font-size: 14px;
  color: #AAA;
  padding-left: 40px;
  margin: 20px 0;
}
/* 页面大标题样式 */
.sub-headerWrap {
  width: 100%;
  height: 100px;
  padding: 25px 0;
  background: #f5f5f6;
  box-sizing: border-box;
  margin-top: 30px;
}
.sub-headerWrap .sub-header {
  width: 1150px;
  margin: 0 auto;
}
.sub-headerWrap .sub-header .navbar-header img {
  display: inline;
}
.sub-headerWrap .sub-header .navbar-header .ti {
  font-size: 18px;
  font-weight: 500;
  color: #3072f6;
}
.sub-headerWrap .sub-header .sub-nav ul {
  list-style: none;
}
.sub-headerWrap .sub-header .sub-nav ul .current a {
  color: #3072f6;
}
.sub-headerWrap .sub-header .sub-nav ul li {
  float: left;
  height: 40px;
  line-height: 70px;
  vertical-align: bottom;
}
.sub-headerWrap .sub-header .sub-nav ul li a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #101d37;
  font-size: 16px;
  padding-left: 30px;
}
.container .row .has-success .form-control {
  border-color: #3072f6;
}
.container .row .has-success .form-control-feedback,
.container .row .has-success .control-label {
  color: #3072f6;
}
.container .row .mainone {
  margin-top: -45px;
  padding-top: 100px;
}
.container .row .mainone .title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
.container .row .mainone .form-group {
  padding-bottom: 20px;
}
.container .row .mainone i {
  padding-right: 7px;
}
.container .row #validateBtn,
.container .row #resetBtn {
  width: 80px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background-color: #3072f6;
  cursor: pointer;
  outline: none;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 10px;
}
